<div>
    <form #createForm="ngForm">
        <div fxLayout="column" fxLayoutAlign="space-around center" style="margin-top:2em;">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Task description </mat-label>
                <textarea required matInput placeholder="I want a blockchain project" name="description"
                    [(ngModel)]="description"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Freelancer Reward</mat-label>
                <input required type="number" matInput min="1" (value)="freelancerReward" name="freelancerReward"
                    [(ngModel)]="freelancerReward">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Evaluator Reward</mat-label>
                <input required type="number" matInput min="0" name='evaluatorReward' [(ngModel)]="evaluatorReward">
            </mat-form-field>

            <button type="button" mat-raised-button color="accent" (click)="submit(createForm)">Add new task!</button>
        </div>
    </form>
</div>


